<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fly away proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>flightsServlet</display-name>
    <servlet-name>flightsServlet</servlet-name>
    <servlet-class>com.flightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightsServlet</servlet-name>
    <url-pattern>/flightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminHome</display-name>
    <servlet-name>adminHome</servlet-name>
    <servlet-class>com.adminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminHome</servlet-name>
    <url-pattern>/adminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminVerify</display-name>
    <servlet-name>adminVerify</servlet-name>
    <servlet-class>com.adminVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminVerify</servlet-name>
    <url-pattern>/adminVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepswrd</display-name>
    <servlet-name>changepswrd</servlet-name>
    <servlet-class>com.changepswrd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepswrd</servlet-name>
    <url-pattern>/changepswrd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listsourcedestination</display-name>
    <servlet-name>listsourcedestination</servlet-name>
    <servlet-class>com.listsourcedestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listsourcedestination</servlet-name>
    <url-pattern>/listsourcedestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listairlines</display-name>
    <servlet-name>listairlines</servlet-name>
    <servlet-class>com.listairlines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listairlines</servlet-name>
    <url-pattern>/listairlines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listflights</display-name>
    <servlet-name>listflights</servlet-name>
    <servlet-class>com.listflights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listflights</servlet-name>
    <url-pattern>/listflights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addflights</display-name>
    <servlet-name>addflights</servlet-name>
    <servlet-class>com.addflights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addflights</servlet-name>
    <url-pattern>/addflights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightsmod</display-name>
    <servlet-name>flightsmod</servlet-name>
    <servlet-class>com.flightsmod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightsmod</servlet-name>
    <url-pattern>/flightsmod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homecheck</display-name>
    <servlet-name>homecheck</servlet-name>
    <servlet-class>com.homecheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homecheck</servlet-name>
    <url-pattern>/homecheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book</display-name>
    <servlet-name>book</servlet-name>
    <servlet-class>com.book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userdetailsverify</display-name>
    <servlet-name>userdetailsverify</servlet-name>
    <servlet-class>com.userdetailsverify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdetailsverify</servlet-name>
    <url-pattern>/userdetailsverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentcheck</display-name>
    <servlet-name>paymentcheck</servlet-name>
    <servlet-class>com.paymentcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentcheck</servlet-name>
    <url-pattern>/paymentcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightsServlet2</display-name>
    <servlet-name>flightsServlet2</servlet-name>
    <servlet-class>com.flightsServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightsServlet2</servlet-name>
    <url-pattern>/flightsServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteflights</display-name>
    <servlet-name>deleteflights</servlet-name>
    <servlet-class>com.deleteflights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteflights</servlet-name>
    <url-pattern>/deleteflights</url-pattern>
  </servlet-mapping>
</web-app>